{% extends 'baseBack.html.twig' %}

{% block title %}Cabinet{% endblock %}

{% block body %}
    <br>
    <h4><b>Cabinet</b></h4>
    <br>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ cabinet.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ cabinet.adresse }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ cabinet.codepostal }}</td>
            </tr>
            <tr>
                <th>Adressemail</th>
                <td>{{ cabinet.adressemail }}</td>
            </tr>
            <tr>
                <th>Medecin</th>
                <td>{{ cabinet.idMedecin.nom }}</td>
            </tr>
        </tbody>
    </table>

    <br>
    <div align="center" class="card-footer">
        <button class="btn"><a style="color:black; href="{{ path('app_cabinet_edit', {'id': cabinet.id}) }}">Modifier</a></button>
        <button class="btn"><a style="color:black;" href="{{ path('app_cabinet_index') }}">Consulter Liste</a></button>
        {{ include('cabinet/_delete_form.html.twig') }}
    </div>

{% endblock %}
