{% extends "baseBack.html.twig" %}

{% block body %}
<style>/* Stylise le tableau */
.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #00796B;
    /* Couleur de fond verte */
    /* Ajoutez d'autres propriétés ici */
}

/* Stylise les cellules du tableau */
.table td,
.table th {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #FFFFFF;
    /* Couleur de fond blanche (ou autre couleur de votre choix) */
    /* Ajoutez d'autres propriétés ici */
}

/* Stylise les liens */
a {
    color: #00796B;
    /* Couleur verte */
    text-decoration: none;
    /* Ajoutez d'autres propriétés ici */
}</style>
	<h1>Commande index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Idcommande</th>
				<th>Datecommande</th>
				<th>Adresselivraison</th>
				<th>Montanttotalcommande</th>
				<th>Plats</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for commande in commandes %}
				<tr>
					<td>{{ commande.idcommande }}</td>
					<td>{{ commande.datecommande ? commande.datecommande|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ commande.adresselivraison }}</td>
					<td>{{ commande.montanttotalcommande }}</td>
					<td>{{ commande.plats }}</td>
					<td>
						<a href="{{ path('app_commande_show', {'idcommande': commande.idcommande}) }}">show</a>
						<a href="{{ path('app_commande_edit', {'idcommande': commande.idcommande}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_commande_new') }}">Create new</a>
{% endblock %}
