{% extends 'baseFront.html.twig' %}

{% block title %}New Rendez Vous{% endblock %}

{% block body %}
    <br>

    <div class="card-body card-block">
        {{ form_start(form,{'attr':{'novalidate':'novalidate'}},{'attr':{'class':'form-horizontal'}}) }}
            <div class="row form-group">
                <div class="col col-md-3">
                    {{ form_label(form.nom,"Nom :") }}
                </div>
                <div class="col-12 col-md-9">
                    {{ form_widget(form.nom,{'attr':{'class':'form-control'}})}}
                    {% if form_errors(form.nom) is not empty %}
                        <small class="form-text text-muted">{{ form_errors(form.nom) }}</small>
                    {% endif %}
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    {{ form_label(form.prenom,"Prenom :") }}
                </div>
                <div class="col-12 col-md-9">
                    {{ form_widget(form.prenom,{'attr':{'class':'form-control'}})}}
                    {% if form_errors(form.prenom) is not empty %}
                        <small class="form-text text-muted">{{ form_errors(form.prenom) }}</small>
                    {% endif %}
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    {{ form_label(form.numtel,"Numéro Téléphone :") }}
                </div>
                <div class="col-12 col-md-9">
                    {{ form_widget(form.numtel,{'attr':{'class':'form-control'}})}}
                    {% if form_errors(form.numtel) is not empty %}
                        <small class="form-text text-muted">{{ form_errors(form.numtel) }}</small>
                    {% endif %}
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    {{ form_label(form.email,"Email :") }}
                </div>
                <div class="col-12 col-md-9">
                    {{ form_widget(form.email,{'attr':{'class':'form-control'}})}}
                    {% if form_errors(form.email) is not empty %}
                        <small class="form-text text-muted">{{ form_errors(form.email) }}</small>
                    {% endif %}
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    {{ form_label(form.daterdv,"Date :") }}
                </div>
                <div class="col-12 col-md-9">
                    {{ form_widget(form.daterdv,{'attr':{'class':'form-control'}})}}
                    {% if form_errors(form.daterdv) is not empty %}
                        <small class="form-text text-muted">{{ form_errors(form.daterdv) }}</small>
                    {% endif %}
                </div>
            </div>
            

            <div align="center" class="card-footer">
                <button class="btn"><i class="zmdi zmdi-plus"></i>{{ button_label|default('Ajouter') }}</button>
            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
