{% extends 'baseFront.html.twig' %}

{% block title %}Dish Details{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .container {
            margin-top: 40px;
        }

        .card {
            border: none;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }

        .card-img-top {
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            object-fit: cover;
            height: 300px;
        }

        .card-body {
            padding: 20px;
        }

        .card-title {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .card-text {
            font-size: 16px;
            margin-bottom: 10px;
        }

        strong {
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block body %}<br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <img src="{{ asset(menu.imagep) }}" class="card-img-top" alt="{{ menu.namep }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ menu.namep }}</h5>
                        <p class="card-text"><strong>Price:</strong> {{ menu.pricep }}</p>
                        <p class="card-text"><strong>Category:</strong> {{ menu.categoryp }}</p>
                        <p class="card-text"><strong>Ingredients:</strong> {{ menu.ingredientsp }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}