{% extends 'baseBack.html.twig' %}

{% block stylesheet %}
<style>
        .table {
            width: 100%;
            margin-bottom: 1rem;
            color: #212529;
            border-collapse: collapse;
        }

        .table th,
        .table td {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }

        .table th {
            vertical-align: bottom;
            border-bottom: 2px solid #dee2e6;
            background-color: #f8f9fa;
            font-weight: bold;
        }

        .table td {
            background-color: #fff;
        }

        .buttonn {
            display: inline-block;
            font-weight: 400;
            color: #fff;
            text-align: center;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: green;
            border: 1px solid white;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            text-decoration: none;
        }

        .buttonn:hover {
            color: #fff;
            background-color: #0056b3;
            border-color: #0056b3;
            text-decoration: none;
        }

        .inline-inputs {
            display: flex;
            align-items: center;
        }

        .inline-inputs input {
            flex: 1; /* This ensures both input fields take up equal width */
            margin-right: 10px; /* Adjust the spacing between the input fields */
        }

        .inline-inputs label {
            margin-bottom: 5px; /* Add some space below the label */
        }
</style>
{% endblock %}
{% block body %}
    <h1>User</h1>

    <table class="tablee">
        <tbody>
            <tr>
                <th>Iduser</th>
                <td>{{ user.iduser }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ user.address }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user.role }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ user.number }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ user.rating }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td><img src="{{ asset('uploads/' ~ user.picture) }}" alt="" height="100" width="100" class=""><td>
            </tr>
        </tbody>
    </table>
<div class="inline-inputs">
    <a href="{{ path('app_user_index') }}" class="buttonn">back to list</a>

    <a href="{{ path('app_user_edit', {'iduser': user.iduser}) }}" class="buttonn">edit</a>

    {{ include('user/_delete_form.html.twig') }}
</div>
{% endblock %}
